@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,700&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}

body{
   background-image: url("img/rea1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header{
  width: 100%;
  height: 80px;
  color: white;
  margin-left: 90px;
  margin-top: 30px;
  
}

header h1{
   font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;                        
}


.sidebar{
  position: fixed;
  width: 350px;
  height: 100vh;
  background-color: rgba(27, 17, 22, 0.7) ;
  border-right: 6px solid grey;
  top: 0;
  left: -345px;
  transition: left 0.7s ease;
}

.sidebar:hover {
  left: 0;
}